/* saunabesetka.jsx */

.margin-x {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tdeco {
  text-decoration: none;
}

.active {
  color: black !important;
  background-color: red !important;
}

/* about.jsx */

.liAbout {
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.ulAbout {
  list-style: none;
  padding: 0;
}


/* ProductTitle.jsx */


.fontFamily {
  font-family: 'Roboto', sans-serif;
}

.fUpperCase {
  text-transform: uppercase;
}

.fS {
  font-size: 2.5rem;
  font-weight: 500;
  border-bottom: 3px;
  border-color: #007bff;
  border-bottom-style: double;
}





/* questions.jsx */
.hoverCursor {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .vh{
    height: 80vh;
  }
  }
  


/* footer.jsx */
.mB {
  margin-top: 50px;
}

.fT {
  position: relative;
}

.fT::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}

.fT:hover::after {
  width: 100%;
}
/* @media only screen and (max-width: 992px) {
.mt-100{
  margin-top: 350px !important;
}

} */










/* navbar.jsx */

.navbar-dark .navbar-nav a.nav-link {
  color: #ffffff;
  font-size: 1.1em;
}

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;
  left: -10rem;
  top: 40px;
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;

  }
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li .dropdown-item {
  color: gray;
  font-size: 0.8em;
  padding: 0.5em 1em;
}

.dropdown-menu li .dropdown-item:hover {
  background-color: #f1f1f1;
}

/* .dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #516beb;
} */
.dropdown-menu li:first-child a:hover {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;

  }
}


















/* 
sidebar.jsx */

@media only screen and (max-width: 776px) {
  .text {
    font-size: 8px !important;
    font-weight: 600;
  }
}

.fontSize {
  font-size: 0.6rem !important;
  font-weight: 600 !important;
  width: 100%;

}

@media only screen and (max-width: 776px) {
  .sidebar {
    height: 35vh !important;
    width: 100% !important;
    margin-bottom: 5px !important;

  }



}
@media only screen and (max-width: 776px) {
  .sidebarC {
    height: 70vh !important;
    width: 100% !important;
    margin-bottom: 5px !important;

  }



}

.sideBarNav {
  text-decoration: none;
}







/* Add CSS styles to position the sidebar and the content */
.content-container {
  display: flex;
  /* Use flexbox to align the sidebar and content */
  flex-wrap: wrap;
  /* Allow content to wrap to the next line on smaller screens */
}

.sidebar {
  flex: 0 0 200px;
  /* Set the width of the sidebar as needed */
}
.sidebarC {
  flex: 0 0 200px;
  /* Set the width of the sidebar as needed */
}
main {
  flex: 1;
  /* Allow the content to take up the remaining space */
  padding: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  main {
    flex: 1;
    /* Allow the content to take up the remaining space */
    padding: 0.6rem;
  }

  .content-container {
    flex-direction: column;
    /* Stack components vertically on smaller screens */
  }

  .sidebar {
    flex: 1 1 100%;
    /* Make the sidebar take the full width on smaller screens */
  }
  .sidebarC {
    flex: 1 1 100%;
    /* Make the sidebar take the full width on smaller screens */
  }
  main {
    flex: 1 1 100%;
    /* Make the content take the full width on smaller screens */
  }
}





















/* whatsapicons.jsx */
.whatsapp-icon {
  position: fixed;
  bottom: 5rem;
  right: 1.2rem;
  background-color: #25d366;
  border-radius: 50%;
  padding: 1rem;
  z-index: 999;
}

.whatsapp-icon:hover {
  background-color: #128c7e;
}

@media only screen and (max-width: 768px) {
  .whatsapp-icon {
    padding: 0.5rem;
    bottom: 5rem;
    right: 1.2rem;
  }
}











/* smoothSliderButton.jsx */

.smooth-slider-button-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 9999;
}

.smooth-slider-button {
  display: none;
}

.smooth-slider-button--visible {
  display: block;
}

@media only screen and (max-width: 768px) {
  .smooth-slider-button {
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1.2rem;
    z-index: 999;
  }
}









/* saunaBesetka */
















/* all pages responsive
1. sauna.jsx */
.objectFit {
  object-fit: cover;

}

.all-map-card {
  width: 19rem;
  height: 20rem;
}

.all-map-img {

  width: 18rem;
  height: 18rem;
}

@media only screen and (max-width: 768px) {
  .all-card {
    width: 20rem !important;
  }

  .all-ourworks {
    width: 20rem !important;
    font-size: 1rem !important;

  }


  .m-auto-all {

    margin: auto !important;

  }
}

/* @media only screen and (max-width: 768px) {
  .responsiveImg{
    width: 5rem;
    height:5rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .responsiveImg{
    width: 7rem;
    height:7rem;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .responsiveImg{
    width: 10rem;
    height:10rem;
  }
}

@media only screen and (min-width: 1201px) {
  .responsiveImg{
    width: 18rem;
    height:18rem;
  }
}
 */


 .responsiveImg {
  width: 18rem;
  height: 18rem;
  
}

@media only screen and (max-width: 1200px) {
  .responsiveImg {
    width: 10rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 992px) {
  .responsiveImg {
    width: 7rem;
    height: 7rem;
  }
}

@media only screen and (max-width: 768px) {
  .responsiveImg {
    width: 5rem;
    height: 5rem;
  }
}


.responsiveTitle{
  font-size: 1rem;
}
.responsiveText{
  font-size: 1rem;
}

.responsiveImgseenaye {
  width: 18rem;
  height: 18rem;
}

@media only screen and (max-width: 1200px) {
  .responsiveImgseenaye {
    width: 10rem;
    height: 10rem;
  }
  .responsiveText{
    font-size: 0.8rem;
  }
  .responsiveTitle{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 992px) {
  .responsiveImgseenaye {
    width: 7rem;
    height: 7rem;
  }
  .responsiveTitle{
    font-size: 0.8rem;
  }
  .responsiveText{
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .responsiveImgseenaye {
    width: 3rem;
    height: 3rem;
  }
  .responsiveTitle{
    font-size: 0.8rem;
  }
  .responsiveText{
    font-size: 0.4rem;
  }
}











/* 
  navbar2.jsx */
.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
}

.navbar .navbar-brand img {
  max-width: 100px;

}

/* .fSize{

font-size: 10px !important;

} */
@media screen and (min-width: 960px) {

  .navbar .navbar-brand img {
    max-width: 160px;
    min-width: 150px;
  }

  /* .fSize{
font-size: 20px !important;

  } */


}


@media screen and (min-width: 1200px) {
  .navbar {
    letter-spacing: 0.05em;
  }

  .navbar-collapse .navbar-nav .nav-link {
    padding: 0.2em 1em;
  }

  .navbar .navbar-brand img {
    max-width: 7em;
  }
}

@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 6em;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .search-and-icons,
  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .search-and-icons {
    width: 70%;
  }

  .navbar form {
    flex: 1;
  }
}

.navbar-collapse .navbar-nav .nav-link {
  color: #000;
}

.contact-info p {
  justify-content: center;
  font-size: 0.8em;
  padding-right: 1em;
  color: #000;
}

.contact-info a {
  color: #000;
  text-decoration: underline;
}

.user-icons div {
  padding-right: 1em;
  font-size: 1.2em;
  color: #000;
}

.navbar form input {
  border-radius: 0;
}

.navbar form input[type="search"] {
  height: 2em;
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 95%;
}

.navbar form input[type="search"]:focus {
  background: #fff;
  box-shadow: none;
}



.navbar-sticky {
  position: sticky !important;
  top: 0;
  z-index: 100;

}



@media only screen and (min-width: 768px) {
  .widthNavbar {
    height: 40px;
    margin-top: 10px;

  }

  .mend {
    margin-right: 50px;
  }
}

.hover:hover {
  color: white !important;
  border-radius: 5px;
  background-color: #007bff;

}

.hoverimportant:hover {
  color: white !important;
  border-radius: 5px !important;
  background-color: #007bff !important;

}

.activeNavbar {
  color: white !important;
  border-radius: 5px !important;
  background-color: red !important;
}

/* slidercomp */


.buttonSlider {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0074d9;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  color: #fff;

}


.buttonSlider:hover {
  background-color: #0056b3;
}

/* sidebarStyles.css */

/* Customize the following colors to suit your design */
:root {
  --primary-color: #007bff;
  /* Replace with your primary color */
  --secondary-color: #ff4500;
  /* Replace with your secondary color */
}

/* Sidebar container */
.sidebar {
  background: linear-gradient(180deg, var(--primary-color), var(--secondary-color));
  color: #fff;
  /* Text color on the sidebar */
  /* width: 250px; */
  border-radius: 15px;
}

/* Sidebar menu item styles */
.sidebar .pro-sidebar-menu .pro-menu-item {
  border-radius: 0;
  /* Adjust this for rounded corners on menu items if needed */
}

/* Active menu item style */
.sidebar .pro-sidebar-menu .pro-menu-item.active {
  background-color: rgba(255, 255, 255, 0.1);
  /* Adjust the opacity as needed */
}



/* 
sidebarC */

.sidebarC {
  background: linear-gradient(180deg, var(--primary-color), var(--secondary-color));
  color: #fff;
  /* Text color on the sidebar */
  /* width: 250px; */
  border-radius: 15px;
}

/* Sidebar menu item styles */
.sidebarC .pro-sidebar-menu .pro-menu-item {
  border-radius: 0;
  /* Adjust this for rounded corners on menu items if needed */
}

/* Active menu item style */
.sidebarC .pro-sidebar-menu .pro-menu-item.active {
  background-color: rgba(255, 255, 255, 0.1);
  /* Adjust the opacity as needed */
}




/* homepage */



@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .homeCards {
    width: 14rem !important;
    height: 14rem !important;
  }
}





.flexc{
  display: flex !important;
  flex-wrap: wrap !important;
}






/* qapiServis */

@media only screen and (min-width: 1400px) {
.responsiveTextServis{
font-size: 17px;
}

}



@media only screen and (max-width: 1400px) {
  .responsiveTextServis{
    font-size: 12px;
  }
  .responsiveheight{
    height: 4rem !important;
  }
}

@media only screen and (min-width: 1200px) {

  .responsiveheightCard{
    height: 50rem !important;
  }
}



/* iframe */


.width{
  width: 100%;
}
.height{
  height: 100%;
}